{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>X-Control</title>

    <link rel="shortcut icon" href="{% static '/assets/img/favicon.png'%}" />
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet"/>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    <script src="https://kit.fontawesome.com/225ab67906.js" crossorigin="anonymous"></script>

</head>

<body>
{% include 'navbar.html' %}
    <main class="container">
        {% block content %}


        {% endblock %}
    </main>

    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
