{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre des employée</h5>
                        <p class="card-text text-center">15</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">L'heure de premier entrée</h5>
                        <p class="card-text text-center">8h30min</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">L'heure de dernier sortée</h5>
                        <p class="card-text text-center">17h22min</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre d'absences</h5>
                        <p class="card-text text-center">2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}