{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .col-sm {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
            text-align: center;
            background-color: lightblue;
            font-weight: bold;
        }

    </style>
    <div class="container">
        <h1 style="padding-bottom: 15px">Tableau de bord</h1>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre Total d'employés</h5>
                        <p class="card-text text-center">{{ employee_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre d'employé(s) present(s)</h5>
                        <p class="card-text text-center">{{ employee_count_p }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre d'employé(s) absent(s)</h5>
                        <p class="card-text text-center">{{ employee_count_a }}</p>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-3" style="background-color: #0092d9;color: white;">
                        <h4>Rapport d'entrée/sortie d'employé Aujourd'hui</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableEntryExite">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Employee
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Première entrée
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Dernière sortie
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        durée totale du travail
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in report %}
                                    <tr>
                                        <td class="align-middle text-center">
                                            <h6 class="text-xs font-weight-bold mb-0">{{ item.Employe_nom|title }} {{ item.Employe_prenom|title }}</h6>
                                        </td>
                                        <td class="align-middle text-center">
                                            <h6 class="text-xs font-weight-bold mb-0">
                                                {{ item.premier_entre|default:"No entry recorded"|time:"H:i" }}</h6>
                                        </td>
                                        <td class="align-middle text-center">
                                            <h6 class="text-xs font-weight-bold mb-0">
                                                {{ item.dernier_sortie|default:"No exit recorded"|time:"H:i" }}</h6>
                                        </td>
                                        <td class="align-middle text-center">
                                            <h6 class="text-xs font-weight-bold mb-0">{{ item.total_work_duration }}</h6>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#tableEntryExite').DataTable({
            responsive: true
        });
    </script>
{% endblock %}